.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue" , Arial, "Noto Sans" , sans-serif, "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji" ;
}
/* * Dropdown Menu Animation for Bootstrap Navbar * https://startbootstrap.com/snippets/animated-navbar-dropdown */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
 }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
 }
  100% {
    transform: translateY(0rem);
    opacity: 1;
 }
  0% {
    transform: translateY(1rem);
    opacity: 0;
 }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
 }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
 }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
 }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.bg-indigo {
  background-color: #6574cd !important;
}
.h-5 {
  height: 1.25rem !important;
}
.w-5 {
  height: 1.25rem !important;
}
.flex-1 {
  flex: 1 1 0%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
 }
}
.bg-light {
  background: #f3f4f6 !important;
}
.card {
  border-radius: 0.475rem;
  border: 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}
.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}
.dropdown-menu {
  width: 220px;
}
.small {
  font-size: 0.875rem !important;
}
.edit {
  color: green;
}
.edit i {
  font-size: 20px;
}
.delete {
  color: red;
}
.delete i {
  font-size: 20px;
}

.search-input {
  background-image: url("/images/searchicon.png");

 /* Add a search icon to input */
  background-position: 10px 12px;
 /* Position the search icon */
  background-repeat: no-repeat;
 /* Do not repeat the icon image */
  width: 100%;
 /* Full-width */
  font-size: 16px;
 /* Increase font-size */
  padding: 12px 20px 12px 40px;
 /* Add some padding */
  border: 1px solid #ddd;
 /* Add a grey border */
  margin-bottom: 12px;
 /* Add some space below the input */
}

tr.order {
  background: #a2cf65 !important;
}
tr.order-item {
  background: #f9f4d9 !important;
}
tr.order-item:hover {
  background: #f9f4d9 !important;
}
tr.depot {
  background: #77affc !important;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}
.wrapper a {
  text-decoration: none;
}
header, footer {
  padding: 3em;
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: -1;
  text-align: center;
  background-color: rgba(175, 186, 202, 1);
}
.box {
  border-radius: 5px;
  padding: 3em;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}
.box h2 {
  font-weight: bold;
}
.wrapper > *{
  margin-bottom: 10px;
}
@supports (display: grid) {
  .wrapper > * {
    margin: 0;
 }
}
.red {
  background-color: rgba(220, 83, 81, 1);
}
.green {
  background-color: rgba(187, 225, 123, 1);
}
.blue {
  background-color: rgba(131, 150, 225, 1);
}
.purple {
  background-color: rgba(155, 121, 170, 1);
}
.yellow {
  background-color: rgba(235, 229, 39, 1);
}
.violet {
  background-color: rgba(213, 118, 211, 1);
}
.orange {
  background-color: rgba(213, 151, 46, 1);
}
.turquoise {
  background-color: rgba(105, 203, 217, 1);
}

.overlay {
  display:    none;
  position:   fixed;
  z-index:    1000000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

body.loading .overlay {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .overlay {
  display: block;
}





.form-inline label {
  justify-content: left;
}

/*******************FILTER******************/

.filter-container {
  margin-bottom: 10px;
}

.filter-container select{
  margin-left: 0px!important;
}

.right-links {
  float: right;
}

.main-card{
  margin-top: 10px;
}

.select2-container {
  width: 100%!important;
}

.select2-selection {
  height: 35px!important;
}
